
@{
    ViewData["Title"] = "204";
}


<div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center">
        <h2>Access Denied </h2>
        <p>Please! make sure you have the access to the page</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
