@model LoginVM
@{
    ViewData["Title"] = "Log in";
}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    @if (TempData["Error"] != null)
                                    {
                                        <h4 class="h4 text-gray-900 mb-4 alert alert-danger">@TempData["Error"]</h4>
                                    }
                                </div>
                                <form class="user" asp-action="Login">
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control form-control-user" placeholder="Enter Email Address...">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control form-control-user" placeholder="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <input class="btn btn-primary btn-user btn-block" value="Login" type="submit" />
                                    <hr />
                                </form>
                                <div class="text-center">
                                    <a class="small" asp-action="Register" asp-controller="Account">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>