<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Your Account Created Successfully </h2>
        <p>you can now log in to your account using you credentials</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>