@{
    ViewData["Title"] = "404";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 offset-3">
            <div class="card border-primary">
                <div class="card-header text-center">
                    <h1>404</h1>
                </div>
                <div class="card-body text-center">
                    <p>this operations not found! (^_^)</p>
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Home">
                        home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>